.new-expense {
  background-color: rgba(215, 215, 215, 0.75);
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid #464646;
  background-color: #464646;
  color: #e5e5e5;
  border-radius: 12px;
  margin-right: 1rem;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #afafaf;
  border-color: #afafaf;
  color: black;
}